
= render 'hosts/header', type: :list_group

#hosts

  .widget.widget-table
    .widget-header
      %i.icon-th-list
      %h3
        Group list
  
    .widget-content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th #
            %th Name
            %th Actions

        %tbody
          - @host_groups.each do |host_group|
            %tr
              %td= host_group.id
              %td= host_group.name
              %td.action-td
                = render 'layouts/form/list_actions', elem: host_group

