.page-header
  %h1
    Host Groups
    %small
      view information of
      %code= @host_group.name

%form.form-horizontal
  %fieldset

    .control-group
      %label.control-label Name
      .controls
        %span.input-xlarge.uneditable-input= @host_group.name
    .control-group
      %label.control-label hosts
      .controls
        - @host_group.host.each do |u|
          %p
            %span.label= link_to u.name, u

    - if permitted_to? :edit, @host_group
      .form-actions
        = link_to 'Edit', edit_host_group_path(@host_group), :class => "btn btn-warning"
