
= render 'users/header', type: :list_group 

#user_groups

  .widget.widget-table
    .widget-header
      %i.icon-th-list
      %h3
        Group list
  
    .widget-content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th #
            %th Name
            %th Count
            %th Actions
        %tbody
          - @user_groups.each do |user_group|
            %tr
              %td= user_group.id
              %td= user_group.name
              %td TODO: list total
              %td.action-td
                = render 'layouts/form/list_actions', elem: user_group
     
