
= render 'users/header', type: :list_group 
//= render {  partial: 'users/header', params: { type: :list_group } }

#user_groups

  .widget.widget-table
    .widget-header
      %i.icon-th-list
      %h3
        Group list
  
    .widget-content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th #
            %th Name
            %th Count
            %th Actions
        %tbody
          - @user_groups.each do |user_group|
            %tr
              %td= user_group.id
              %td= user_group.name
              %td TODO: list total
              %td.action-td
                - if permitted_to? :show, user_group
                  %a.btn.btn-small.btn-info{ href: url_for(user_group) }
                    %i.icon-eye-open
                - if permitted_to? :edit, user_group
                  %a.btn.btn-small.btn-warning{ href: url_for(edit_user_group_path(user_group)) }
                    %i.icon-edit
                - if permitted_to? :destroy, user_group
                  = link_to user_group, { data: { confirm: 'Are you sure?', method: :delete }, class: "btn btn-small btn-danger"} do
                    %i.icon-remove

