
- content_for :javascript_custom do
  = javascript_include_tag 'hosts/new'

= render 'header', type: :new

.widget
  .widget-header
    %i.icon-plus
    %h3
      Add a new host
  .widget-content

    %ul.nav.nav-tabs
      %li
        %a{"data-toggle" => "tab", :href => "#general"} General
        //%a{"data-toggle" => "tab", :href => "#acl"} ACL

    %br

    .tab-content
      #general.tab-pane.active
        = render 'form'
      #acl.tab-pane

