
-#
  - content_for :stylesheet_custom do
    = stylesheet_link_tag 'dashboard/common'

%h1.page-title
  %i.icon-user
  Users
  .btn-group{ :data => { :toggle => 'buttons-radio' } }
    %a{ href:'#', class: 'btn btn-active active' }
      %i.icon-list
      List
    - if permitted_to? :new, :users
      %a{ href: new_user_path, class: 'btn' }
        %i.icon-plus
        New

= render 'users'

//= link_to 'Add a new user', new_user_path, class: 'btn btn-success'
