
.page-header
  %h1
    Users
    %small
      more information on
      %code= @user.login


%form.form-horizontal
  %fieldset

    .control-group
      %label Login
      .controls
        %span.input-xlarge.uneditable-input= @user.login
  
    .control-group
      %label Password
      .controls
        %span.input-xlarge.uneditable-input (hidden)

    .form-actions
      = link_to 'Edit', edit_user_path(@user), :class => "btn btn-warning"

