- content_for :main_menu, 'me'

%h1.page-title
  %i.icon-key
  My keys
  .btn-group{ :data => { :toggle => 'buttons-radio' } }
    %a{ href: keys_user_path(current_user), class: 'btn' + ((type == :keys_list) ? ' btn-active active' : '')  }
      %i.icon-list
      List
    - if permitted_to? :new, :users
      %a{ href: new_key_path, class: 'btn' + ((type == :keys_new) ? ' btn-active active' : '')  }
        %i.icon-plus
        New

