

#keys

  .widget.widget-table
    .widget-header
      %i.icon-th-list
      %h3
        Keys list
    -#
      .search.input-append
        //%input.span2{:size => "16", :type => "text"}
        = text_field_tag :search, params[:search], class: 'span2'
        %a.btn{ :href => "javascript:users_search.submit()" }
          %i.icon-search
  
    .widget-content
      %table.table.table-striped.table-bordered
        %thead
          %tr
            %th #
            %th Name
            %th Value
            %th Actions

        %tbody
          - @keys.each do |key|
            %tr
              %td= key.id
              %td= key.name
              %td
                %pre{ style: 'word-wrap: break-word; '}
                  = key.value
              %td.action-td
                %a.btn.btn-small.btn-warning{ :href => url_for(edit_key_path(key)) }
                  %i.icon-edit
                // TODO: fix delete link
                %a.btn.btn-small.btn-danger{ :href => key }
                  %i.icon-remove

                %a.btn.btn-small{ href: x509_key_path(key) }
                  x509

                %a.btn.btn-small{ href: pkcs12_new_key_path(key) }
                  pkcs12

  
  //= will_paginate @keys

