
- content_for :stylesheet_custom do
  = stylesheet_link_tag 'keys/new'

= render 'header', type: :keys_new

.widget
  .widget-header
    %i.icon-plus
    %h3
      Add a new key
  .widget-content
    = render 'form'

