defaults: &defaults
  redis:
    host: dev2.sx4it.com
    port: 42163
  ssl:
    ca_crt: config/4am-ca.crt
    ca_key: config/4am-ca.key
#   timeout:
#   path:

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
