
#AclList
  - rights = %w{Read Edit Exec Sudo}

  %table.table.table-striped.table-bordered
    %thead
      %tr
        %th Host/Group
        %th User/Group
        - rights.each do |r|
          %th= r
        - if permitted_to? :destroy, :host_acls
          %th Actions
    %tbody
      - @acls.each do |acl|
        %tr
          %td
            - render_icon acl.hosts_type
            = host_render acl.hosts
          %td
            - render_icon acl.users_type
            = link_to acl.users.name, acl.users
          - rights.each do |w|
            %td
              - if w == acl.acl_type
                %i.icon-ok
              - else
                %i.icon-remove
          - if permitted_to? :destroy, :host_acls
            %td.action-td
              = link_to acl, { data: { confirm: 'Are you sure?', method: :delete }, remote: true, class: "btn btn-small btn-danger"} do
                %i.icon-remove

