var uid = $('#acl_form_user_id').attr('value')
var utype = $('#acl_form_user_type').attr('value')
var hid = $('#acl_form_host_id').attr('value')
var htype = $('#acl_form_host_type').attr('value')
$('#add_acl_form').replaceWith("#{escape_javascript(render :partial=>'form')}")
$('#acl_form_user_id').attr('value', uid)
$('#acl_form_user_type').attr('value', utype)
$('#acl_form_host_id').attr('value', hid);
$('#acl_form_host_type').attr('value', htype)
$("input[data-autocomplete]").each (i, u) ->
  $(u).autocomplete().data("autocomplete")._renderItem = (ul, item) ->
    type = "user" if (item.type == "User")
    type = "group" if (item.type == "UserGroup")
    type = "host" if (item.type == "Host")
    type = "group" if (item.type == "HostGroup")
    $( "<li></li>" ).data( "item.autocomplete", item).append( $( "<a></a>" ).text(" " + item.label ).prepend("<i class='custom-icon icon_" + type + "'>") ).appendTo( ul )
