- include_related_js

= render 'hosts/header', type: :acl

#acl

  - if permitted_to? :create, :host_acls
    .widget.widget-table
      .widget-header
        %i.icon-plus
        %h3
          Add ACL
    
      .widget-content
        = render 'form'


  .widget.widget-table
    .widget-header
      %i.icon-th-list
      %h3
        ACL list
  
    .widget-content
      = render 'acl_list'

