
// This is a manifest file that'll automatically include all the stylesheets available in this directory
// and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
// the top of the compiled file, but it's generally better to create a new file per style scope.

// = require bootstrap

// = require_self


body
  background-color: #F5F6F6

#main
  background-color: #F5F6F6

.topbar
  box-shadow: 0 0 15px rgba(0,0,0,0.15)
  border-bottom: 1px solid #F4F4F4
  height: 50px


  .topbar-inner
    height: 100%

    .container
      height: 100%
  
      .brand
        background: url(image_path("logo.4am.white.80.png")) no-repeat 0px 7px
        height: inherit
        width: 100px
        margin: 0px
        padding: 0px
    
      ul
        height: inherit

        li a
          padding: 12px 12px 10px
