
// This is a manifest file that'll automatically include all the stylesheets available in this directory
// and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
// the top of the compiled file, but it's generally better to create a new file per style scope.

// = require bootstrap

// = require_self

$color-topbar: #222

body
  //background-color: #F5F6F6

#main
  //background-color: #F5F6F6

.topbar
  box-shadow: 0 0 15px rgba(0,0,0,0.15)
  border-bottom: 1px solid #F4F4F4
  height: 50px


  .topbar-inner
    height: 100%
    background-color: $color-topbar

    .container
      height: 100%
  
      .brand
        background: url(image_path("logo.4am.white.80.png")) no-repeat 0px 7px
        height: inherit
        width: 100px
        margin: 0px
        padding: 0px
    
      ul
        height: inherit

        li a
          padding: 12px 12px 10px


.breadcrumb
  padding: 4px 8px

a, a:hover
  text-decoration: none



ul.menu
  position: relative
  top: -20px
  padding: 16px 6px 6px 6px
  height: 100%
  background: whiteSmoke
  list-style: none
  margin: 0

  li
    width: inherit
    line-height: 24px
    padding: 6px
   
    &:hover
      background-color: #ddd

    a
      background: transparent no-repeat 0px 1px
      padding-left: 24px
      color: #404040
      font:
        size: 16px

      @each $icon in user, documents-stack, traffic-light-single, sticky-notes-stack, server-medium
        &.icon_#{$icon}
          background-image: url(image_path('icons/fugue/#{$icon}.png'))

      .count
        right: 16px
        position: absolute
        height: 16px
        vertical-align: middle
        line-height: 12px
        height: 12px
        width: 12px
        border-radius: 8px
        -webkit-box-shadow: inset 0 0 5px#DDD
        text-align: center
        margin-top: 6px
