// This is a manifest file that'll automatically include all the stylesheets available in this directory
// and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
// the top of the compiled file, but it's generally better to create a new file per style scope.


@import "bootstrap"
@import "font-awesome"

@import "paginate"

@import "jquery.ui.all"

@import "users"
@import "keys"
// require  "jquery.ui.all"
//= require jquery-ui/cupertino/jquery-ui-1.8.16.custom.css

// = require_self


@import "icons"

$color-topbar: #fff
$topbar-height: 44px
//$color-topbar: #222


table.table-striped
  tbody
    tr
      td
        padding-top: 6px
        padding-bottom: 6px

      &:nth-child(odd)
        th
          text-transform: capitalize
          background-color: #F0F0F0
        /*
          th:first-child
          border-radius: 4px 0 0 4px
          th:last-child
          border-radius: 0 4px 4px 0
      &:hover
        background: #fcfcfc


input, textarea, select, .uneditable-input
  margin-bottom: 0px


body
  //background-color: #F5F6F6
  //font-family: "Arial"
  //font-family: "Lucida Sans", "Lucida Grande"
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
  background: url(image_path("bg.wood1.png"))


  a
    color: #222

  .container
    position: relative
    &.well
      background: #fff
      padding-top: 60px
    h2
      padding-bottom: 16px



// Hack for aligning delete button
.table
  form
    margin: 0px
    position: relative
    display: inline-block
    top: -2px
    input 
      margin: 0px

// Hack to use twitter bootstrap with field_with_errors
.form-horizontal
  .control-group
    label.control-label
      font-weight: bold
    .field_with_errors
      label
        float: left
        width: 140px
        padding-top: 5px
        text-align: right
        color: #B94A48

      input
        color: #B94A48
        border-color: #953B39

.page-header
  a.btn
    float: right

a.btn, input.btn
  font-weight: bold
  text-transform:lowercase

  i
    position: relative
    top: 1px


#main
  //background-color: #F5F6F6

.navbar
  box-shadow: 0 0 15px rgba(0,0,0,0.15)
  height: $topbar-height

  .navbar-inner
    height: 100%
    background-color: $color-topbar

    -webkit-box-shadow: 1px 0 0 #fff inset, 0 1px 0 #fff inset
    -moz-box-shadow: 1px 0 0 #fff inset, 0 1px 0 #fff inset
    -webkit-border-radius: 0
    -webkit-box-shadow: 0 0 46px rgba(0,0,0,0.5)
    box-shadow: 0 0 46px rgba(0,0,0,0.5)

    background-image: -webkit-linear-gradient(top, white, #D4D4D4)
    background-image: -o-linear-gradient(top, white, #D4D4D4)
    background-image: linear-gradient(top, white, #D4D4D4)

    .container
      height: 100%
  
      .brand
        background: url(image_path("logo.4am.black.80.png")) no-repeat 0px 5px
        height: inherit
        width: 100px
        margin: 0px
        padding: 0px

      > div.logout
        position: absolute
        right: 0px
        margin-top: 4px

      ul

        &.nav

          .dropdown-toggle
            .caret
              border-top-color: #BD362F

          .icon
            background-repeat: no-repeat

          > li
            height: $topbar-height
            border-right: 1px dotted #AAA
            margin-left: 10px

            &:last-child
              border-right: none

            &.icon
              background-position: 0px 15px
              padding-left: 8px
            // Color of font in the menu
            > a
              color: black
              letter-spacing: 1px
              text-transform: lowercase
              font-weight: 600
              text-shadow: none

              &:hover
                color: #444

            .dropdown-menu

              //.dropdown-menu li > a:hover, .dropdown-menu .active > a, .dropdown-menu .active > a:hover {


              > li
                .icon
                  background-position: 5px 4px
                  padding-left: 26px
                // Color of font in the dropdown menu
                > a
                  color: #222
                  text-transform: lowercase
                  font-weight: bold
                  text-shadow: none
                  font-size: 12px
                  &:hover
                    background-color: #ddd

        li
          cursor: pointer
          a
            cursor: pointer
            padding: 12px 12px 10px
            font-size: 14px



      .dropdown
        li a
          padding: 3px 15px


.breadcrumb
  padding: 4px 8px

a, a:hover
  text-decoration: none





/*
  ul.menu
  position: relative
  //padding: 16px 6px 6px 6px
  height: 30px
  overflow: hidden
  list-style: none
  margin: 0

  top: -12px

  li
    @extend .breadcrumb
    //@extend .well
    float: left
    //width: inherit
    //padding: 6px

    width: 90px
    padding: 4px 8px 3px
    margin-right: 10px
   
    &:hover
      background-color: #ddd
      cursor: pointer
      opacity: 1.2

    a
      background: transparent no-repeat 0px 0px
      padding-left: 20px
      color: #606060
      font:
        size: 12px
        weight: bold


      /* @each $icon in user, documents-stack, traffic-light-single, sticky-notes-stack, server-medium
        &.icon_#{$icon}
          background-image: url(image_path('icons/fugue/#{$icon}.png'))




      .count
        right: 16px
        height: 16px
        vertical-align: middle
        line-height: 12px
        height: 12px
        width: 12px
        border-radius: 8px
        text-align: center
        margin-top: 6px





// Hack to use ul in alert
.alert
  ul
    margin-bottom: 0px
    li
      //color: white
      p
        font-style: italic
        margin: 0

.field
  label
    font-weight: bold


.form-actions 
  border: 1px solid #DDD
  border-radius: 4px

.custom-icon
  background-repeat: no-repeat
  display: inline-block
  width: 14px
  height: 14px
  vertical-align: text-top
pre
  font-size: 80%

.modal.large
  width: 780px
  margin-left: -390px
