

body
  font: 13px/1.7em 'Open Sans', arial, sans-serif
  background: url(image_path("bg.3.png"))

.page-title
  padding: 5px 10px
  margin-bottom: 1.25em
  font-size: 16px
  font-weight: 600
  color: white

  background: #3C4049
  @include background-image(linear-gradient(top, #414141, #323232))

  @include border-radius(4px)

  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5)



.navbar

  .btn
    line-height: 16px
    padding: 6px 16px 6px 14px
    margin: 7px 10px 0px 0px

  .navbar-inner

    background-color: #2C2C2C
    @include background-image(linear-gradient(top, #333, #222))

    padding: 7px

    .container

      i
        height: 16px
        width: 16px
        display: inline-block
        margin-bottom: -1px
        margin:
          bottom: -3px
          right: 1px



// Delete background on submit actions

.form-actions, .pagination
  padding: 0
  margin: 0
  background-color: transparent
  border: none
