.page-header
  %h1
    Commands
    %small
      viewing command:
      %code= @command.name
%form.form-horizontal
  %fieldset

    .control-group
      %label.control-label Name
      .controls
        %span.input-xlarge.uneditable-input= @command.name
    .control-group
      %label.control-label Command
      .controls
        %textarea.input-xxlarge.uneditable-input= @command.command
    - if permitted_to? :edit, @command
      .form-actions
        = link_to 'Edit', edit_command_path(@command), :class => "btn btn-warning"
