
.menu{ data: { toggle: 'button-checkbox' } }

  - if current_user
  
    %a.btn.btn-active.active
      %i.icon.icon_dashboard
      Dashboard
  
    - if permitted_to? :index, :user_groups
      %a.btn{ href: url_for(users_path) }
        %i.icon.icon_user
        Users
    
    - if permitted_to? :index, :hosts
      %a.btn{ href: url_for(hosts_path) }
        %i.icon.icon_host
        Hosts
    
    -#
      Templates ?
    
    - if permitted_to? :index, :commands
      %a.btn
        %i.icon.icon_terminal
        Commands
    
    - if permitted_to? :index, :log
      %a.btn
        %i.icon.icon_status2
        Status
  
  -#
    %a.btn{href: "http://sx4it.com/doc/index.html"}
      %i.icon_help
      Help

